name: Android Build

on:
  push:
    paths:
      - 'apps/android-sms-gateway/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
    
    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew
      working-directory: apps/android-sms-gateway
    
    - name: Build Debug APK
      run: ./gradlew assembleDebug
      working-directory: apps/android-sms-gateway
    
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: avtojon-sms-gateway
        path: apps/android-sms-gateway/app/build/outputs/apk/debug/app-debug.apk
